# 순서가 있는 자료구조
우리는 숫자형 변수만 배워봤습니다. 이번에는 순서가 있는 자료구조를 배워보도록 하겠습니다. 순서가 있는 자료구조는 크게 3가지로 문자열(글자), 리스트, 튜플이 있습니다

## 문자 vs 문자열
문자는 한글자만 저장할수 있고 문자열은 여러개의 문자를 저장할수 있습니다

## 리스트, 튜플, 문자열의 선언

In [ ]:
a=10
a

In [1]:
string='피타고라스는 "니 자신을 알라"라고 말했다'#문자열
#string="피타고라스는 "니 자신을 알라"라고 말했다"#error
string1="f(x)를 미분하면 f'(x)다"#문자열
#string1='f(x)를 미분하면 f'(x)다'#error
#문자열
string2="""
이렇게 "여러글자"도 작성할수 있다
신기하지?
"""
#문자열
string3='''
이렇게 '여러글자'도 작성할수 있다
신기하지?
'''
arr=[1,2,3,4,5,"안녕하세요",[1,2,3,4,5]]#리스트
tarr=(1,2,3,4,5,"안녕하세요",[1,2,3,4,5],(1,2,3))#튜플
string,string1,string2,string3,arr,tarr

('피타고라스는 "니 자신을 알라"라고 말했다',
 "f(x)를 미분하면 f'(x)다",
 '\n이렇게 "여러글자"도 작성할수 있다\n신기하지?\n',
 "\n이렇게 '여러글자'도 작성할수 있다\n신기하지?\n",
 [1, 2, 3, 4, 5, '안녕하세요', [1, 2, 3, 4, 5]],
 (1, 2, 3, 4, 5, '안녕하세요', [1, 2, 3, 4, 5], (1, 2, 3)))

## 비어 있는 리스트, 튜플, 문자열 만들기

In [2]:
text=""
arr=[]
tarr=()
text,arr,tarr

('', [], ())

## 자료형 분석
<table>
<tr><th>종류</th><th>자료형</th></tr>
<tr><td>문자열</td><td>str</td></tr>
<tr><td>리스트</td><td>list</td></tr>
<tr><td>튜플</td><td>tuple</td></tr>
</table>

In [2]:
type(""),type([]),type(())

(str, list, tuple)

## 비어 있는 리스트, 튜플, 문자열 만들기(심화)

In [8]:
text=str()
arr=list()
tarr=tuple()
text,arr,tarr

('', [], ())

## 인덱싱
인덱싱은 해당 번째의 요소를 출력하는데 사용합니다. 0부터 시작합니다

In [9]:
"안녕"[0],"안녕"[1],[1,2,3][1],[1,2,3][2],(1,2,3)[1],(1,2,3)[2]

('안', '녕', 2, 3, 2, 3)

## 마이너스 인덱싱
[]안에 음수를 사용하면 마지막부터 숫자를 셉니다(마지막 요소는 -1이다)

In [7]:
"안녕"[-1],"안녕"[-2],[1,2,3][-1],[1,2,3][-2],(1,2,3)[-1],(1,2,3)[-2]

('녕', '안', 3, 2, 3, 2)

## Q1 : 왜 마지막요소는 -0이 아닌 -1인가?

## 슬라이싱
해당 범위내의 요소들을 가져옵니다

In [12]:
[1,2,3,4,5,6,7,8,9,10][1:5]#1번째 부터 5-1번째 까지의 요소만 가져온다 마지막은 안가져온다

[2, 3, 4, 5]

In [13]:
[1,2,3,4,5,6,7,8,9,10][1:-1]#1번째 부터 8번째 까지의 요소만 가져온다 마지막은 안가져온다

[2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
[1,2,3,4,5,6,7,8,9,10][1:-1:2]#1번째 부터 8번째 까지 2칸씩 뛰어서 요소를 가져온다 마지막은 안가져온다

[2, 4, 6, 8]

In [10]:
[1,2,3,4,5,6,7,8,9,10][::-1]#끝부분 부터 처음까지 요소를 가져온다

10

In [16]:
[1,2,3,4,5,6,7,8,9,10][::-2]#끝부분 부터 처음까지 2칸씩 뛰어서 요소를 가져온다

[10, 8, 6, 4, 2]

In [25]:
[1,2,3,4,5,6,7,8,9,10][::],[1,2,3,4,5,6,7,8,9,10][:]#싹다 가져온다

([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [11]:
"안녕하세요"[::2]

'안하요'

## 길이 구하기

In [14]:
len([1,2,3,4]),len((1,2)),len("동해물과 백두산이 마르고 닳도록")

(4, 2, 17)

## 순서가 있는 자료구조의 연산자
<table>
    <tr>
        <th>기호</th>
        <th>설명</th>
    </tr>
    <tr>
        <td>+</td>
        <td>연결</td>
    </tr>
    <tr>
        <td>*</td>
        <td>반복</td>
    </tr>
</table>

In [22]:
[1,2,3]+[4,5,6],(1,2,3)+(0,9,8),"안녕"+"하세요"

([1, 2, 3, 4, 5, 6], (1, 2, 3, 0, 9, 8), '안녕하세요')

In [24]:
[1,2,3]*3,(1,2,3)*6,"안녕"*9#순서가 있는 자료구조*정수 형식으로 해야함

([1, 2, 3, 1, 2, 3, 1, 2, 3],
 (1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3),
 '안녕안녕안녕안녕안녕안녕안녕안녕안녕')

## 문자열, 리스트, 튜플 차이점
<table>
    <tr>
        <th>데이터 유형</th>
        <th>변경 가능 여부</th>
        <th>데이터 타입</th>
        <th>표현법</th>
        <th>쉼표로 구분</th>
    </tr>
    <tr>
        <td>문자열 (str)</td>
        <td>불가능(immutable)</td>
        <td>모든 요소가 문자</td>
        <td>' '," ",""" """,''' '''안에 문자열이 들어간다</td>
        <td>X</td>
    </tr>
    <tr>
        <td>리스트 (list)</td>
        <td>가능(mutable)</td>
        <td>다양한 데이터 타입 혼합 가능</td>
        <td>[]안에 요소들이 들어간다</td>
        <td>O</td>
    </tr>
    <tr>
        <td>튜플 (tuple)</td>
        <td>불가능(immutable)</td>
        <td>다양한 데이터 타입 혼합 가능</td>
        <td>()안에 요소들이 들어간다</td>
        <td>O</td>
    </tr>
</table>

In [19]:
text="안녕"
text[1]="냥"
text

TypeError: 'str' object does not support item assignment

In [21]:
arr=[1,2,3,4]
arr[1]="안녕하세요"
arr

[1, '안녕하세요', 3, 4]

In [21]:
arr=(1,2,3,4)
arr[1]="안녕하세요"
arr

TypeError: 'tuple' object does not support item assignment

## in과 not in

In [6]:
L=[1,2,3,4]
1 in L#L 즉 [1,2,3,4] 라는 박스안에 1이 있니?

True

In [6]:
L=[1,2,3,4]
[1,2,3]in L#L 즉 [1,2,3,4] 라는 박스안에 [1,2,3]이 있니?

False

In [3]:
L=[1,2,[1,2,3],4]
[1,2,3]in L#L 즉 [1,2,[1,2,3],4] 라는 박스안에 [1,2,3]이 있니?

True

In [4]:
text="안녕하세요"
"안" in text#text 즉 안녕하세요 라는 글자에 "안"이 있니?

True

In [5]:
L=[1,2,3,4]
1 not in L#L 즉 [1,2,3,4] 라는 박스안에 1이 없니?

False

## 복습

<table>
<tr><th>종류</th><th>자료형</th></tr>
<tr><td>정수</td><td>int</td></tr>
<tr><td>실수</td><td>float</td></tr>
<tr><td>문자열</td><td>str</td></tr>
<tr><td>리스트</td><td>list</td></tr>
<tr><td>튜플</td><td>tuple</td></tr>
</table>

## 형변환
형변환은 자료형(변수)형식이다

In [11]:
int("1234")#문자열 1234를 정수로 변환

1234

In [12]:
float("1234")#문자열 1234를 실수로 변환

1234.0

In [13]:
str(1234)#정수 1234를 문자열로 변환

'1234'

In [22]:
str((1,2,3,4))#튜플 (1,2,3,4)를 문자열로 변환

'(1, 2, 3, 4)'

In [14]:
list("1234")#문자열 1234를 리스트로 변환

['1', '2', '3', '4']

In [15]:
tuple("1234")#문자열 1234를 튜플로 변환

('1', '2', '3', '4')

In [20]:
list(1234),tuple(1234),list(3.14),tuple(3.14)#숫자들은 리스트나 튜플로 변환이 안된다

TypeError: 'int' object is not iterable

In [21]:
str([1,2,3,4])#리스트 [1,2,3,4]를 문자열로 변환

'[1, 2, 3, 4]'

## 형변환을 이용한 문자열 합치기

In [26]:
a=10
"a는 "+a+"이다"#문자열과 숫자는 더할수 없다

TypeError: can only concatenate str (not "int") to str

In [28]:
a=10
"a는 "+str(a)+"이다"#숫자 a를 문자열로 변환해서 문자열 끼리 더한다

'a는 10이다'

# 패킹이란?
패킹은 한개의 변수에 여러개의 값을 넣는것을 패킹이라고 합니다

## 리스트 패킹

In [8]:
a=[1,2,3,4]
a

[1, 2, 3, 4]

## 튜플 패킹

In [9]:
a=1,2,3,4,5
a

(1, 2, 3, 4, 5)

# 언패킹이란?
패킹된 순서가 있는 자료구조에 있는 여러가지 값을 빼오는방식읍니다

In [11]:
a,b=[1,2]
print("a is "+str(a)+" b is "+str(b))

a is 1 b is 2

In [12]:
a,b=[1,2,3]#리스트 요소 갯수와 변수 갯수가 일치해야한다
print("a is "+str(a)+" b is "+str(b))

ValueError: too many values to unpack (expected 2)

In [13]:
a,b="안녕"
print("a is "+a+" b is "+b)

a is 안 b is 녕

In [14]:
a,b="안녕하세요"#변수갯수와 글자수가 일치해야한다
print("a is "+a+" b is "+b)

ValueError: too many values to unpack (expected 2)

In [15]:
a,b=(1,2)
print("a is "+str(a)+" b is "+str(b))

a is 1 b is 2

In [17]:
a,b=(1,2,3)#튜플 요소 갯수와 변수 갯수가 일치해야한다
print("a is "+str(a)+" b is "+str(b))

ValueError: too many values to unpack (expected 2)