# 자식 폴더에 있는 파일 가져오기

In [3]:
import pandas as pd
pd.read_csv("child/학생정보.csv")

    이름   태어난 년도   성별
0  안영진     2004   남자
1  최서윤     2005   여자

# 부모 폴더에 있는 파일 가져오기
부모 폴더에 있는 파일을 가져오기 위해서는 앞에 ..을 붙히면 된다

In [4]:
import pandas as pd
pd.read_excel("../엑셀파일.xlsx")

    이름  태어난 연도  성별
0  안영진    2004  남자
1  최서윤    2005  여자

# 다른 폴더에 있는 파일 가져오기

In [5]:
import pandas as pd
pd.read_excel("../athor/엑셀파일.xlsx")

    이름  태어난 연도  성별
0  안영진    2004  남자
1  최서윤    2005  여자